body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

nav a:hover {
  color: #555;
}

nav a:active {
  transform: translateY(1px);
}

nav a:focus,
nav a:active {
  text-decoration: none;
  color: black;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 20px;
  text-align: center; 
}

.image-container > div {
  flex: 1; 
  padding: 20px; 
}

.image-container img {
  max-width: 100%; 
}

h1 {
  text-align: center;
}
